In [7]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\jayas\miniforge3\envs\jupiterlab_env\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jayas\miniforge3\envs\jupiterlab_env\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jayas\miniforge3\envs\jupiterlab_env\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\jayas\miniforge3\envs\jupiterlab_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.3.3-cp310-cp310-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   -- ------------------------------------- 0.6/11.3 MB 19.5 MB/s eta 0:00:01
   ---- ----------------------------------- 1.2/11.3 MB 15.1 MB/s eta 0:00:01
   ------ --------------------------------- 1.8/11.3 MB 13.9 MB/s eta 0:00:01
   -------- ------------------------------- 2.3/11.3 MB 13.2 MB/s eta 0:00:01
   --------- ------------------------------ 2.8/11.3 MB 12.8 MB/s eta 0:00:01
   ----------- ---------------------------- 3.3/11.3 MB 12.3 MB/s eta 0:00:01
   ------------- -------------------------- 3.8/11.3 MB 12.1 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/11.3 MB 11.9 MB/s eta 0:00:01
   ---------------- ----------------------- 4.8/11.3 MB 11.8 MB/s eta 0:00:01
   ------------------ --------------------- 5.4/11.3 MB 11.8 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.3 MB 11.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.4/11.3 MB 11.6 MB/s eta 0:00:01
   ------------------------ --------------- 6.9/11.3 MB 11.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.4/11.3 MB 11.6 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.3 MB 11.5 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.3 MB 11.2 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.3 MB 11.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.3 MB 11.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.3 MB 11.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.3 MB 11.1 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 10.2 MB/s eta 0:00:00
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
   ---------------------------------------- 0.0/348.5 kB ? eta -:--:--
   ---------------------------------------- 348.5/348.5 kB 7.2 MB/s eta 0:00:00
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.3.3 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

df = pd.read_csv("D:/Study/data-career/heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       10 non-null     int64
 1   sex       10 non-null     int64
 2   cp        10 non-null     int64
 3   trestbps  10 non-null     int64
 4   chol      10 non-null     int64
 5   fbs       10 non-null     int64
 6   restecg   10 non-null     int64
 7   thalach   10 non-null     int64
 8   exang     10 non-null     int64
 9   oldpeak   10 non-null     float64
 10  slope     10 non-null     int64
 11  ca        10 non-null     int64
 12  thal      10 non-null     int64
 13  target    10 non-null     int64
dtypes: float64(1), int64(13)
memory usage: 1.2 KB